@{
    ViewData["Title"] = "Admin Page";
}

<section id="admin">
    <div id="welcome-admin">
        <h1>Welcome to pizza shop admin page</h1>
        <h2>To see all the listings click the links below:</h2>
        <div>
            <a class="button" href="/Pizzas/Index">Pizzas</a>
            <a class="button" href="/Categories/Index">Categories</a>
            <a class="button" href="/Ingredients/Index">Ingredients</a>
            <a class="button" href="/PizzaIngredients/Index">PizzaIngredients</a>
            <a class="button" href="/Admin/AllUsers">Users</a>
        </div>
    </div>
</section>