@model PizzaShop.Core.ViewModels.Pizzas.CreateViewModel

@{
    this.Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create pizza";

}


<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Pizzas</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" placeholder="Enter pizza name" required class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" type="text" min="0.00" max="10000.00" step="0.01" placeholder="Enter pizza price" required class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" type="text" placeholder="Enter pizza description" required class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImageUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ImageUrl" type="text" placeholder="Enter imageUrl" required class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(x => x.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })

                <select name="CategoryId">
                    @foreach (var item in Model.Categories)
                    {
                        <option value="@item.Id">
                            @item.Name
                        </option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="createbtn" />
            </div>
        </div>
    </div>
</form>