@{
    ViewData["Title"] = "Home Page";
}

<section id="main">
    <div id="welcome-container">
        <h1 class="display-4">Welcome to my Pizza Shop </h1>
        <img class="hero" src="https://img1.wsimg.com/isteam/ip/3c94c74b-e9bd-4552-8a0c-3482568cdc3f/fullsizeoutput_1.jpeg/:/rs=w:1240,h:620,cg:true,m/cr=w:1240,h:620" alt="pizzaShopWelcome" />
        <h2>To see our offers click the link below:</h2>
        <div>
            <a class="button" href="/Pizzas/All">Offers</a>
        </div>
    </div>
</section>