@model PizzaShop.Core.ViewModels.Categories.CreateViewModel

@{
    ViewData["Title"] = "Create category";
}
<h1>Category</h1>

<form asp-action="Create">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" required placeholder="Enter category name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>

            <div class="col-md-10">
                <input asp-for="Description" placeholder="Enter description" name="description" required class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="createbtn" />
            </div>
        </div>
    </div>
</form>












