* {
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Lato', sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: /*#333333*/ #FFE8A7;
    color: black;
    text-align: center;
    padding: 16px;
}

#container {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    padding-bottom: 64px;
}
/*----------------*/

/*navigation*/
nav {
    background-color: #FFE8A7;
    overflow: hidden;
}

    nav a {
        float: left;
        color: /*#f2f2f2*/ black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        nav a:hover {
            text-decoration: none;
            background-color: /*#ddd*/ #FFC575;
            color: black;
            text-decoration: none;
        }

        nav a.active {
            text-decoration: none;
            background-color: #FFC575;
            color: black;
            text-decoration: none;
        }

#profile, #guest {
    float: right;
}

a:not([href]):not([tabindex]) {
    color: black;
    text-decoration: none;
}
/*----------------------------------*/

/*----------*/
/*login and register css*/
/* Add padding to containers */
.container {
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 1000px;
    margin: auto;
}

p {
    margin-bottom: 5px;
}
/* Full-width input fields */

input[type="text"], input[type="number"], input[type="password"] {
    padding: 5px;
    margin: 5px 0 15px 0;
    width: 100%;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
}

    input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus {
        background-color: #ddd;
        outline: none;
    }


/*validation*/
span {
    color: red;
}
/* Overwrite default styles of hr */

hr {
    border: 1px solid #f1f1f1;
}

/* Set a style for the submit/register button */

.registerbtn {
    background-color: #FFC575;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

    .registerbtn:hover {
        opacity: 1;
    }

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */

.signin {
    padding: 12px;
    background-color: #f1f1f1;
    text-align: center;
    margin: 5px 0 15px 0;
    width: 100%;
    border: none;
    box-sizing: border-box;
}

/*-----------------------*/

/*home page*/

#main {
    background-color: white;
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
    /* margin-top: 1px;*/
    font-size: 40px;
}

h2 {
    text-align: center;
}

.button {
    background-color: #FFE8A7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}

#welcome-container div a {
    text-decoration: none;
    color: black;
}

    #welcome-container div a:hover {
        background-color: #FFC575;
    }

#welcome-container {
    width: 70%;
    margin: auto;
    text-align: center;
}

/*admin page*/
#admin {
    background-color: white;
    font-family: 'Lato', sans-serif;
}

    #admin h1 {
        text-align: center;
        margin: 5px;
        font-size: 40px;
    }

    #admin h2 {
        text-align: center;
        margin: 20px;
    }

.button {
    background-color: #FFE8A7;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 5px;
}

#welcome-admin div a {
    text-decoration: none;
    color: black;
}

    #welcome-admin div a:hover {
        background-color: #FFC575;
    }

#welcome-admin {
    width: 70%;
    margin: auto;
    text-align: center;
}
/*----------------------------*/

.hero {
    margin: 30px;
    max-width: 600px;
}

#button-div {
    padding-top: 10px;
    width: 37%;
    margin: auto;
    display: flex;
}

/*-----------------------------*/
/*user table */

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f1f1f1;
    }

    #customers tr:hover {
        background-color: #FFC575;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #FFC575;
        color: black;
    }


/*create btn*/
.createbtn {
    background-color: #FFC575;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

/*---------------------------------*/
/*create pizza*/
checkbox {
    padding: 15px;
    margin: 5px 0 22px 0;
    width: 100%;
}

select {
    padding: 15px;
    margin: 5px 0 22px 0;
    width: 100%;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
}

    select:focus {
        background-color: #ddd;
        outline: none;
    }

/*---------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');


#pizza {
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    display: inline-flex;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px;
    height: 350px;
    width: 700px;
}



.product-details {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 40%;
}

#pizza .product-details h1 {
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: #344055;
    margin: 0;
}

    #pizza .product-details h1:before {
        position: absolute;
        content: '';
        right: 0%;
        top: 0%;
        transform: translate(25px, -15px);
        font-family: 'Bree Serif', serif;
        display: inline-block;
        background: #ffe6e6;
        border-radius: 5px;
        font-size: 14px;
        padding: 5px;
        color: white;
        margin: 0;
        animation: chan-sh 6s ease infinite;
    }


.hint-star {
    display: inline-block;
    margin-left: 0.5em;
    color: gold;
    width: 50%;
}

.category {
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 20px;
    color: black;
}


#pizza .product-details > p {
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 18px;
    color: #7d7d7d;
}


.control {
    position: absolute;
    bottom: 20%;
    left: 22.8%;
}

.btn {
    transform: translateY(0px);
    transition: 0.3s linear;
    background: #809fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding: 0;
    margin: 0;
}

    .btn:hover {
        transform: translateY(-6px);
        background: #1a66ff;
    }

    .btn span {
        font-family: 'Farsan', cursive;
        transition: transform 0.3s;
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.2em;
        margin: 0;
    }

    .btn .price, .shopping-cart {
        background: #333;
        border: 0;
        margin: 0;
    }

    .btn .price {
        transform: translateX(-10%);
        padding-right: 15px;
    }

    .btn .shopping-cart {
        transform: translateX(-100%);
        position: absolute;
        background: #333;
        z-index: 1;
        left: 0;
        top: 0;
    }

    .btn .buy {
        z-index: 3;
        font-weight: bolder;
    }

    .btn:hover .price {
        transform: translateX(-110%);
    }

    .btn:hover .shopping-cart {
        transform: translateX(0%);
    }



.product-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    float: right;
    width: 60%;
    display: inline-block;
}

#container img {
    width: 100%;
    height: 100%;
}

.product-image:hover img {
    transition: all 0.3s ease-out;
}

.product-image:hover img {
    transform: scale(1.2, 1.2);
}

/*----------------------------------------------*/

.CartContainer {
    width: 70%;
    height: 90%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
    margin-right: auto;
    margin-left: auto;
}

.Header {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Heading {
    font-size: 30px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #2F3841;
}

.Action {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}

.Cart-Items {
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Cart-Complete {
    margin-top: 4rem;
}

.image-box {
    width: 15%;
    text-align: center;
    margin-top: 10px;
}

.about {
    height: 100%;
    width: 24%;
}

.title {
    padding-top: 10px;
    line-height: 10px;
    font-size: 32px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
}

.subtitle {
    line-height: 10px;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #909090;
}

.counter {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnCart {
    width: 40px;
    height: 60px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}

.count {
    font-size: 25px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #202020;
}

.prices {
    height: 100%;
    text-align: right;
}

.amount {
    padding-top: 20px;
    font-size: 26px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
}

.save {
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #1687d9;
    cursor: pointer;
}

.remove {
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}

.pad {
    margin-top: 5px;
}

hr {
    width: 66%;
    float: right;
    margin-right: 5%;
}

.checkout {
    float: right;
    margin-right: 5%;
    width: 28%;
}

.total {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Subtotal {
    font-size: 22px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #202020;
}

.items {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #909090;
    line-height: 10px;
}

.total-amount {
    font-size: 36px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
}

.checkoutBtn {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #202020;
}

    .checkoutBtn a:hover {
        text-decoration: none;
    }
/*pagings*/
/*bold page which we are */
.colored {
    color: red;
    font-weight: bold;
}
